In [ ]:
a, b, c = input().split()
s = int(a) + int(b) + int(c)
print(s)

In [ ]:
a, b, c = input().split()

b = float(b)
c = int(c)
print(type(a), type(b), type(c))
print('name ', a, 'height ', b,'age ',c)

In [2]:
d = {'kim':34000, 'lee': 12000, 'park':1200, 'lew':0, 'song':3420}

sum(list(d.values()))

50620

In [12]:
def make_list(str):
    return list(str)

make_list('abcd')

['a', 'b', 'c', 'd']

In [25]:
def solution(year):
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

print(f'leap year? {solution(2022)}')
print(f'leap year? {solution(2010)}')
print(f'leap year? {solution(2000)}')
print(f'leap year? {solution(1900)}')

leap year? False
leap year? False
leap year? True
leap year? False

In [27]:
def add_many(*args):
    return sum(args)

add_many(1,2)

3

In [28]:
def add_mul(command, *args):
    if command == 'add':
        return sum(args)
    if command == 'mul':
        result = 1
        for i in args:
            result *= i
        return result

add_mul('mul', 1,2,3,4,5)

120

In [29]:
def func(a,b):
    return a+b, a-b, a*b, a//b

func(10,3)

(13, 7, 30, 3)

In [38]:
a = 1
def vartest(a):
    a = a+1
    print(a)

print(a)
print(vartest(a))
print(a)

1
2
None
1

In [40]:
del a
def vartest(a):
    a = a + 1

vartest(3)
print(a)

NameError: name 'a' is not defined